trycourier==4.4.0
streamlit-chat==0.0.2.1
parsedatetime==2.6
nltk==3.7
spacy==3.3.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl