apyori==1.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array2gif==1.0.4
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
Automat==20.2.0
backcall==0.2.0
bashplotlib==0.6.5
beautifulsoup4==4.11.1
bert-score==0.3.12
bleach==5.0.0
blinker==1.4
blis==0.7.7
bpemb==0.3.4
CacheControl==0.12.11
cachetools==5.1.0
cachy==0.3.0
catalogue==2.0.7
certifi==2022.5.18.1
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
cleo==1.0.0a5
click==8.0.4
cloudpickle==2.1.0
colorama==0.4.4
colorcet==3.0.1
commonmark==0.9.1
comtypes==1.1.11
conllu==4.5.2
constantly==15.1.0
copulas==0.7.0
crashtest==0.3.1
cryptography==37.0.4
cssselect==1.1.0
ctgan==0.5.1
cupy-cuda113==10.5.0
cycler==0.11.0
cymem==2.0.6
Cython==0.29.28
dask==2023.1.0
datasets==2.3.2
datashader==0.14.3
datashape==0.5.2
deap==1.3.1
debugpy==1.6.0
decorator==5.1.1
deepecho==0.3.0.post1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.5.1
distlib==0.3.4
dnspython==1.16.0
docopt==0.6.2
docutils==0.18.1
DPSDV==0.0.3
duckling==1.8.0
dulwich==0.20.46
editdistance==0.6.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.3.0/en_core_web_trf-3.3.0-py3-none-any.whl
entrypoints==0.4
exceptiongroup==1.1.0
executing==0.8.3
Faker==9.9.1
fastapi==0.78.0
fastjsonschema==2.15.3
fastrlock==0.8
ffmpeg-python==0.2.0
filelock==3.7.1
flair==0.11.3
Flask==2.1.2
flask-ngrok==0.0.25
Flask-RESTful==0.3.9
flatbuffers==22.9.24
fonttools==4.33.3
frozenlist==1.3.0
fsspec==2022.5.0
ftfy==6.1.1
future==0.18.2
gast==0.4.0
gdown==4.4.0
gensim==4.2.0
geppy==0.1.3
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graph-tiger==0.2.5
graphviz==0.20
greenlet==1.1.2
grpcio==1.46.3
gym==0.21.0
h11==0.13.0
h5py==3.7.0
html5lib==1.1
huggingface-hub==0.7.0
hyperlink==21.0.0
hyperopt==0.2.7
idna==3.3
igraph==0.9.11
imageio==2.23.0
importlib-metadata==5.0.0
incremental==21.3.0
iniconfig==2.0.0
install==1.3.5
ipykernel==6.13.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itemadapter==0.7.0
itemloaders==1.0.4
itsdangerous==2.1.2
Janome==0.4.2
jedi==0.18.1
jieba==0.42.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
JPype1==1.4.1
Js2Py==0.71
jsonpickle==3.0.0
jsonschema==4.16.0
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kafka-python==2.0.2
kaleido==0.2.1
keras==2.10.0
Keras-Preprocessing==1.1.2
keybert==0.7.0
keyring==23.6.0
kiwisolver==1.4.2
konoha==4.6.5
langcodes==3.3.0
langdetect==1.0.9
language-tool-python==2.7.1
lemminflect==0.2.3
libclang==14.0.1
llvmlite==0.38.1
locket==1.0.0
lockfile==0.12.2
lru-dict==1.1.8
lxml==4.9.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
memory-profiler==0.60.0
mistune==0.8.4
more-itertools==8.14.0
mpld3==0.3
mpmath==1.2.1
msgpack==1.0.4
multidict==6.0.2
multipledispatch==0.6.0
multiprocess==0.70.13
murmurhash==1.0.7
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.2
nltk==3.7
notebook==6.4.11
num2words==0.5.12
numba==0.55.2
numpy==1.22.4
oauthlib==3.2.0
opacus==1.1.2
opencv-python==4.6.0.66
OpenHowNet==2.0
opt-einsum==3.3.0
overrides==3.1.0
packaging==23.0
pamqp==2.3.0
pandas==1.4.2
pandocfilters==1.5.0
param==1.12.3
parsedatetime==2.6
parsel==1.6.0
parso==0.8.3
partd==1.3.0
pathy==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pinyin==0.4.0
pipwin==0.5.2
pkginfo==1.8.3
platformdirs==2.5.2
playsound==1.3.0
plotly==5.10.0
pluggy==1.0.0
poetry==1.2.0
poetry-core==1.1.0
poetry-plugin-export==1.0.6
pomegranate==0.14.8
pptree==3.1
preshed==3.0.6
progressbar2==4.0.0
prometheus-client==0.14.1
prompt-toolkit==2.0.10
Protego==0.2.1
protobuf==3.19.4
psutil==5.9.1
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.5
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/amanp/pipwin/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pycld2 @ https://github.com/aboSamoor/pycld2/zipball/e3ac86ed4d4902e912691c1531d0c5645382a726
pycparser==2.21
pycryptodome==3.15.0
pycryptodomex==3.15.0
pyct==0.4.8
pydantic==1.8.2
pydeck==0.7.1
PyDispatcher==2.0.5
pydot==1.4.2
pygame==2.1.2
Pygments==2.12.0
pyjsparser==2.7.1
PyJWT==2.1.0
pylev==1.4.0
pymongo==3.10.1
Pympler==1.0.1
pyngrok==5.1.0
pynput==1.7.6
pyOpenSSL==22.0.0
pyparsing==3.0.9
pypiwin32==223
PyPrind==2.11.3
pyreadline3==3.4.1
pyrsistent==0.18.1
pySmartDL==1.3.4
PySocks==1.7.1
pytest==7.2.0
python-crfsuite==0.9.8
python-dateutil==2.8.2
python-engineio==4.3.2
python-igraph==0.9.11
python-multipart==0.0.5
python-snappy==0.6.1
python-utils==3.3.3
pyts==0.12.0
pyttsx3==2.90
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyvis==0.3.1
PyWavelets==1.4.1
pywin32==304
pywin32-ctypes==0.2.0
pywinpty==2.0.5
PyYAML==5.4.1
pyzmq==23.0.0
queuelib==1.6.2
rdt==0.6.4
readme-renderer==35.0
redis==3.5.3
regex==2021.8.28
requests==2.27.1
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
responses==0.18.0
rfc3986==2.0.0
rich==12.4.4
rouge==1.0.1
rsa==4.8
ruamel.yaml.clib==0.2.6
sanic-routing==0.7.2
scikit-image==0.19.3
scikit-learn==1.1.1
scipy==1.8.0
scrap-engine==1.2.0
Scrapy==2.6.2
sdmetrics==0.5.0
segtok==1.5.11
semver==2.13.0
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.95
sentry-sdk==1.3.1
service-identity==21.1.0
shellingham==1.5.0
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.2.post1
spacy==3.3.1
spacy-alignments==0.8.5
spacy-legacy==3.0.9
spacy-loggers==1.0.2
spacy-transformers==1.1.6
SQLAlchemy==1.4.39
sqlitedict==2.0.0
srsly==2.4.3
stable-baselines3==1.5.0
stack-data==0.2.0
starlette==0.19.1
stopit==1.1.2
streamlit==1.17.0
streamlit-chat==0.0.2.1
sympy==1.10.1
tabulate==0.8.9
tarsafe==0.0.3
tenacity==8.0.1
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
terminaltables==3.1.10
text-unidecode==1.3
texttable==1.6.4
thinc==8.0.17
threadpoolctl==3.1.0
tifffile==2022.10.10
tinycss2==1.1.1
tldextract==3.3.1
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
toolz==0.11.2
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tornado==6.1
tqdm==4.64.0
traitlets==5.2.1.post0
transformers==4.19.4
trycourier==4.4.0
ttastromech==0.5.0
tweepy==4.10.0
tweet-preprocessor==0.6.0
twine==4.0.1
Twisted==22.4.0
twisted-iocpsupport==1.0.2
typeguard==2.13.3
typer==0.4.1
typing-extensions==3.10.0.2
typing-utils==0.1.0
tzdata==2022.1
tzlocal==2.1
ujson==4.3.0
urllib3==1.26.9
uvicorn==0.18.2
validators==0.19.0
virtualenv==20.15.1
w3lib==2.0.1
wasabi==0.9.1
watchdog==2.1.8
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.3
Werkzeug==2.1.2
widgetsnbextension==3.6.0
Wikipedia-API==0.5.4
winkerberos==0.9.0
word2number==1.1
wordcloud==1.8.2.2
wrapt==1.14.1
ws4py==0.5.1
xarray==2022.12.0
xxhash==3.0.0
yarl==1.7.2
zipp==3.8.0
zope.interface==5.4.0
